{
  auto_https off
}

:80 {
    encode gzip
    root * /var/www/html/public

  handle /api* {

                        php_fastcgi backend:9000
                        file_server
                     }

  handle {
           reverse_proxy frontend:3000
         }
}
